body {
  margin: 0;
  padding: 0;
 }
.container {
  background-color: rgba(0, 0, 0, 0.171);
  color: aliceblue;
}

h1 {
  padding: 5%;
}
#initial {
  height: 100vh;
}
#second {
  height: 100vh;
}
.ubicationSection {
  margin: 10% auto;
}
.city {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 2em;
  margin: 5%;
}
.detailWeather {
  margin: 2% auto;
}
.summary {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 1.5em;
  margin: 3%;
}
.temperature {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 2em;
  margin: 5%;
}
.prediction {
  background-color: #bbdefb;
  color: slategray;
  padding: 3%;
  margin: 0;
}